<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCkwOPXKAdktsnDnLHRjjvyyh8m8BDQwA4</string>
	<key>GCM_SENDER_ID</key>
	<string>224974438083</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mygolfplanner.app</string>
	<key>PROJECT_ID</key>
	<string>mgpfunctions</string>
	<key>STORAGE_BUCKET</key>
	<string>mgpfunctions.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:224974438083:ios:3b4c22e92a6d0039fcec76</string>
</dict>
</plist>